#nav-header {
  height: 400px;
  width: 100%;
  text-align: center;
  color: black;
  font-style: sans-serif;
  margin: 8em 0 0 2em;
}
#header_img {
  height: 200px;
  padding-right: 120px;
}

.one {
  display: flex;
  justify-content: space-between;
}

.container {
  margin-top: 8em;
  width: 100em;
}

nav {
  height: 120px;
  background-color: #007ec2;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
  color: #ffffff;
  border: 0px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  align-items: center;
}

.nav-contiainer img {
  size: 40px;
}

#compose {
  display: block;
  text-align: center;
  cursor: pointer;
  margin-right: 20px;
  padding-top: 20px

}

#tweet-something {
  margin: 0;
}

/*animating the arrow*/

@-webkit-keyframes arrow-jump {
  0%   { opacity: -1;}
  100% { opacity: 1; 
        -webkit-transform: translateY(15px);
 
    }
  
}
#arrow {
  -webkit-animation: arrow-jump 1s infinite;
}

#arrow {
  height: 20px;
  filter: invert(1);
}

@viewport {
  width: 100vw;
}

.logo-text {
  font-family: "Bungee", cursive, sans-serif;
  margin: 0 30px 0 30px;
}

.nav-container h3 {
  margin-right: 30px;
}

/* This design triggers when the display with is below 768px */
@media only screen and (max-width: 768px) {
  #nav-header {
    height: 200px;
    width: 100%;
    text-align: center;
    background-color: #007ec2;
    background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
    color: white;
    font-style: sans-serif;
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 120px;
  }

  .one {
    display: block;
    justify-items: center;
  }

  .container {
    width: 90%;
    margin-top: 0;
  }
}
