#nav-header {
  height: 400px;
  width: 100%;
  text-align: center;
  background-color: #007ec2;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
  color: #ffffff;
  font-family: 'Bungee', cursive, sans-serif;
  margin-top: 120px;
}

