nav {
  height: 120px;
  background-color: #007ec2;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
  color: #ffffff;
  border: 0px;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  vertical-align: middle;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2

}

@viewport {
  width: 100vw;
}

.logo-text {
  font-family: 'Bungee', cursive, sans-serif;
  vertical-align: middle;
  justify-content: center;
  margin: 1.5em;
}

