nav {
  height: 120px;
  background-color: #007ec2;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
  color: #ffffff;
  border: 0px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  align-items: center;
}

.nav-contiainer img {
  size: 40px;
}

@viewport {
  width: 100vw;
}

.logo-text {
  font-family: "Bungee", cursive, sans-serif;
  margin: 0 30px 0 30px;
}

.nav-container h3 {
  margin-right: 30px;
}